label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}
.contact-body{
  display: flex;
  gap: 1rem;
  justify-content : space-between;
}
.contact-item {
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact-item a{
   display: flex;
  align-items: center;
  justify-content: center;
}
@media screen {
    @media (max-width: 700px) {
      .contact-body{
         display: block;
            padding-left: 5%;
            padding-right: 5%;
      }
      .contact-item{
        justify-content: flex-start;
      }
    }
  }